.git
vendor
node_modules
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
public/storage
.env
.env.example
.env.production
bkp
error_log
init_debug.log
last_error.txt
phpunit.xml
tests
*.md

